body {
  font-family: sans-serif;
  font-size: 18pt;
  margin: auto;
  max-width: 1280px;
  background-image: url(BG.jpg);
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}
form img{
  display: none;
  width: 300px;
}
.content{
  margin: auto;
  max-width: 960px;
}
.images{
  display: flex;
  height: 300px;
}
.images img{
  margin: auto;
}
